body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondo0.jpg');
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#blason-container {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blason-izq, #blason-der {
    width: auto;
    height: auto;
    max-width: 45%;  /* Ajusta el porcentaje según sea necesario */
    max-height: 45%;  /* Ajusta el porcentaje según sea necesario */
    position: absolute;
    cursor: pointer;
}

#blason-izq {
    left: 0;
    transform-origin: right center;
}

#blason-der {
    right: 0;
    transform-origin: left center;
}

#contenido {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: auto;
}

header h1 {
    text-align: center;
}

.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.perfil img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.descripcion {
    flex: 1;
}

.botones-episodios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.episodio-btn {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido-episodio {
    margin-top: 20px;
}

#titulo-episodio {
    text-align: center;
    margin-bottom: 20px;
}

@keyframes slideLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%) scale(0.5); }
}

@keyframes slideRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%) scale(0.5); }
}

.animate-left {
    animation: slideLeft 1s forwards;
}

.animate-right {
    animation: slideRight 1s forwards;
}

    animation: slideRight 1s forwards;
}
